## Importing the libraries

In [16]:
import numpy as np
import pandas as pd
import tensorflow as tf
import matplotlib.pyplot as plt
import statsmodels.api as sm

from sklearn.ensemble import RandomForestClassifier
from sklearn import metrics

## Number of Datapoints

In [17]:
q=3000

## Data Collecting

In [18]:
dataset=pd.read_csv('wines.csv') 
dataset.quality.unique()
dataset['quality'].skew()

0.21769932922108254

#### Renaming the header of the CSV file

In [19]:
dataset = dataset.rename(columns={'fixed acidity': 'fixed_acidity', 'volatile acidity': 'volatile_acidity', 'citric acid': 'citric_acid',
                         'residual sugar': 'residual_sugar', 'free sulfur dioxide': 'free_sulfur_dioxide', 'total sulfur dioxide':'total_sulfur_dioxide'})
dataset.head()

,fixed_acidity,volatile_acidity,citric_acid,residual_sugar,chlorides,free_sulfur_dioxide,total_sulfur_dioxide,density,pH,sulphates,alcohol,quality,type
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5,1
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5,1
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5,1
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6,1
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5,1

#### Wine Quality Categorizing

In [20]:
wine_table = []

for i in dataset.quality:
    if i <= 4:
        wine_table.append(0) #Table Wine
    elif i >= 7:
        wine_table.append(2) #Fine Wine
    else:
        wine_table.append(1) #Premium Wine     
dataset['label'] = wine_table
dataset.head()

,fixed_acidity,volatile_acidity,citric_acid,residual_sugar,chlorides,free_sulfur_dioxide,total_sulfur_dioxide,density,pH,sulphates,alcohol,quality,type,label
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5,1,1
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5,1,1
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5,1,1
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6,1,1
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5,1,1

## Dataset Spliting

In [21]:
x=dataset.iloc[1:q, 0: 11].values
y=dataset.iloc[1:q, -1].values
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test=train_test_split(x,y,test_size=0.2,random_state=0)

In [22]:
print(x)

[[ 7.8   0.88  0.   ...  3.2   0.68  9.8 ]
 [ 7.8   0.76  0.04 ...  3.26  0.65  9.8 ]
 [11.2   0.28  0.56 ...  3.16  0.58  9.8 ]
 ...
 [ 7.    0.6   0.12 ...  3.52  0.62 10.2 ]
 [ 7.2   0.67  0.   ...  3.42  0.72 11.1 ]
 [ 7.9   0.69  0.21 ...  3.25  0.51  9.9 ]]

In [23]:
print(y)

[1 1 1 ... 2 1 1]

#### Data Standardzing

In [24]:
from sklearn.preprocessing import StandardScaler
sc=StandardScaler()
x_train=sc.fit_transform(x_train)
x_test=sc.transform(x_test)

## Building the Random Forest Classifier

In [25]:
rfc=RandomForestClassifier(n_estimators=100)
rfc.fit(x_train,y_train)
y_pred=rfc.predict(x_test)

## Test the RFC accuracy

In [26]:
y_test
y_pred

df = pd.DataFrame(list(zip(y_test, y_pred)), 
               columns =['Y_test', 'Y_pred']) 
df[:20]

    Y_test  Y_pred
0        1       1
1        1       1
2        1       1
3        1       1
4        1       1
5        1       1
6        1       1
7        1       1
8        1       1
9        1       1
10       1       1
11       1       1
12       1       1
13       1       1
14       1       1
15       1       1
16       1       1
17       1       1
18       1       1
19       1       1

In [27]:
rfcc=RandomForestClassifier(n_estimators=100)
rfcc.fit(x_train,y_train)
y_pred=rfcc.predict(x_test)
print( " Accuracy:", metrics.accuracy_score(y_test, y_pred))

 Accuracy: 0.975